@model NewProdcutVM

@{
    ViewData["Title"] = "Add a new Product";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Product</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>
                    <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width:150px;" id="ImagePreview"/>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameEN" class="control-label"></label>
                    <input asp-for="NameEN" class="form-control"/>
                    <span asp-validation-for="NameEN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameAR" class="control-label"></label>
                    <input asp-for="NameAR" class="form-control"/>
                    <span asp-validation-for="NameAR" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control"/>
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" class="form-control"/>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input type="number" asp-for="Price" class="form-control"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="OnSale" class="control-label"></label>
                    <input asp-for="OnSale" class="form-control"/>
                    <span asp-validation-for="OnSale" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="SalePrice" class="control-label"></label>
                    <input asp-for="SalePrice" class="form-control"/>
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control"/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ResturantId" class="control-label"></label>
                    <select asp-for="ResturantId"class="form-control" asp-items="@ViewBag.Resturants"></select>
                    <span asp-validation-for="ResturantId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriesIds" class="control-label"></label>
                    <select asp-for="CategoriesIds"class="form-control" asp-items="@ViewBag.Categories" multiple></select>
                    <span asp-validation-for="CategoriesIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                    <a asp-action="Index" class="btn btn-outline-secondary">Show All</a>
                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

@section Scripts
{
 <script>
$(document).ready(function() 
{
    var outPut = document.getElementById('ImagePreview');
  outPut.src  = $("#Image").val(); 
});


$("#Price").on("change", function() {
    var price = $(this).val(); 
    var onSale = $("#OnSale").val(); 
    var salePrice =  $("#SalePrice");
    salePrice.value=   price - price * onSale / 100;
    if(price != 0)
       window.alert("السعر بعد الخصم : "+salePrice.value);
});

$("#OnSale").on("change", function() {
    var price = $("#Price").val(); 
    var onSale = $(this).val();
    var salePrice =  $("#SalePrice");
    salePrice.value =   price - price * onSale / 100;
    if(price != 0)
       window.alert("السعر بعد الخصم : "+salePrice.value);
    
});

$("#Image").on("change", function() {
    var outPut = document.getElementById('ImagePreview');
  outPut.src  = $(this).val(); 
});
    </script>
}
