@{
    ViewData["Title"] = "Home Page";
}

<div style="z-index:1; position:fixed; right:250px; top:50px;">
    <span style="font-size:50px;">&#8593;</span>
</div>
<div class="text-center">
    <h1 class="display-4">مرحباً بك</h1>
    <br/>
    <p>خطوات التعامل مع الموقع</p>
    <br/>
        <p>قم بإنشاء التصنيفات </p>
        <p>قم بإنشاء المتجر الخاص بك أو أكثر من متجر </p>
        <p>قم بإنشاء المنتجات وهي آخر مرحلة </p>
        <p>الآن اضغط أعلى السهم <span>&#8593;</span> وأبدا التنفيذ<p/>
</div>
